.forgotpassword {

  &__return {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    color: var(--color-two);
    cursor: pointer;

    svg {
      font-size: 25px;
      margin-right: 10px;
    }
  }

  &__desc {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .authmodal__title {
    margin-bottom: 10px;
  }

  .authmodal__input {
    padding-left: 10px;
  }

  .authmodal__button {
    margin-top: 10px;
  }
}