.user-layout .header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .078);
  font-weight: 600;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 99;
  font-size: 18px;

  & .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

    & img {
      height: 60px;
    }

  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__menu {
    display: flex;
  }

  &__item {
    margin-right: 50px;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-3px);
    }
  }

  & .button {
    font-size: 16px;
  }

  &__user {
    font-size: 20px;
    cursor: pointer;
    color: var(--color-one);
    display: flex;
    align-items: center;

    svg {
      font-size: 35px;
    }
  }
}

.dropdown {
  max-height: 150px;

  &__item {
    font-size: 16px;
    margin: 5px;

    svg {
      font-size: 50px;
    }
  }
}

.ant-dropdown-menu-item {
  min-height: 30px;
}

@media (max-width: 992px) {
  .user-layout .header {

    &__logo {
      
      img {
        height: 40px;
      }
    }

    &__menu {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .user-layout .header {

    &__item {
      margin-right: 20px;
    }
  }
}