.notfound {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 300px;
  }

  &__404 {
    font-size: 24px;
    margin: 10px;
  }

  &__title {
    font-size: 42px;
  }

  &__desc {
    margin: 24px;
    color: var(--color-two);
    font-size: 24px;
  }

  a {
    transform: scale(1.3);
  }
}