.user-layout .footer {
  background-color: #FF792F1A;
  padding: 50px;

  .container {
    display: flex;
    justify-content: space-around;
  }

  &__info {

    img {
      width: 160px;
    }

    &-item {
      margin: 10px 0;

      svg {
        color: var(--color-one);
        font-size: 20px;
      }
      span {
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }

  &__about {
    
    &-item {
      display: block;
      margin: 10px 0;
    }
  }

  &__social {

    &-list {
      display: flex;
      justify-content: space-evenly;
    }

    &-icon {
      display: block;
      width: 40px;
      height: 40px;
      margin-top: 10px;
      color: #fff;
      background-color: var(--color-one);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}