.button {
  // width: 150px;
  // height: 45px;
  padding: 10px 20px;
  color: var(--color-one);
  border: 1px solid var(--color-one);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-one);
    color: #fff;
  }
}