@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
}

:root {
  --color-one: #FF792F;
  --color-two: #2CA6EB;
  --color-title: #0A342F;
  --color-text: #333333;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
}

body {
  margin: 0;
  color: var(--color-text);
}

.container {
  max-width: 1140px;
  margin: auto;
}

/* @media (min-width: 576px) {
  .container { max-width: 540px; }
}

@media (min-width: 768px) {
  .container { max-width: 720px; }
}

@media (min-width: 992px) {
  .container { max-width: 960px; }
}

@media (min-width: 1200px) {
  .container { max-width: 1140px; }
} */